/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #d4d8db;
}

.log {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}



.log-box {
  width: 100%;
  max-width: 400px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.log-box h2 { 
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin-bottom: 20px;
  color: #0a0a23;
}

.log-form input {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.log-form button {
  width: 100%;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 8px;
  margin-top: 12px;
  font-size: 16px;
  cursor: pointer;
}

.divider {
  margin: 20px 0;
  color: #888;
}

.social-buttons {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.google-btn,
.facebook-btn {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.google-btn {
  background-color: #4285f4;
  color: white;
}

.facebook-btn {
  background-color: #3b5998;
  color: white;
}

.toggle-link {
  margin-top: 20px;
  font-size: 14px;
}

.toggle-link span {
  color: #2563eb;
  cursor: pointer;
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 500px) {
  .log-box {
    padding: 20px;
  }
}

.adsense-container {
  margin-top: 30px;
  text-align: center;
}
